Repository abcxyz/readability, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/terraform-readability, @abcxyz/go-readability-approvers, @abcxyz/java-readability-approvers, @abcxyz/python-readability-approvers, @abcxyz/terraform-readability-approvers, @abcxyz/typescript-readability-approvers

.github/CODEOWNERS:

# This file defines the code ownership and, by proxy, the required reviewers for
# the repository. It is parsed in order, with the most-specific match take
# precedence.

# Default fallback
*    @abcxyz/breakglass

*    @abcxyz/infrastructure-team

# Generic Terraform changes should be reviewed by a Terraform expert.
*.tf    @abcxyz/terraform-readability

# Changes to the languages must be approved by existing language approvers.
/terraform/go.yaml            @abcxyz/go-readability-approvers
/terraform/java.yaml          @abcxyz/java-readability-approvers
/terraform/python.yaml        @abcxyz/python-readability-approvers
/terraform/terraform.yaml     @abcxyz/terraform-readability-approvers
/terraform/typescript.yaml    @abcxyz/typescript-readability-approvers

Add pdewilde to Terraform readability.
  terraform/terraform.yaml
Owners: @abcxyz/terraform-readability-approvers

Comment shankiyani from TF readability to temporarily avoid auto-assignment
  terraform/terraform.yaml
Owners: @abcxyz/terraform-readability-approvers

Remove myself, a sad PR.
  terraform/typescript.yaml
Owners: @abcxyz/typescript-readability-approvers

yet another commit.
  terraform/typescript.yaml
Owners: @abcxyz/typescript-readability-approvers

and another
  terraform/typescript.yaml
Owners: @abcxyz/typescript-readability-approvers

Remove chloechien@ (#33)
  terraform/typescript.yaml
Owners: @abcxyz/typescript-readability-approvers

feat: minty configuration file for this repository
  .github/minty.yaml
  .github/workflows/terraform.yaml
Owners: @abcxyz/infrastructure-team

feat: add minty scope to workflow
  .github/workflows/terraform.yaml
Owners: @abcxyz/infrastructure-team

feat: add minty scope to workflow (#35)
  .github/workflows/terraform.yaml
Owners: @abcxyz/infrastructure-team

remove Chen, promote Mike to be maintainer
  terraform/go.yaml
Owners: @abcxyz/go-readability-approvers

remove Chen, promote Mike to be maintainer (#36)
  terraform/go.yaml
Owners: @abcxyz/go-readability-approvers

chore: add bradegler to go readability
  terraform/go.yaml
Owners: @abcxyz/go-readability-approvers

chore: add bradegler to go readability (#38)
  terraform/go.yaml
Owners: @abcxyz/go-readability-approvers

chore: add self for terraform readability
  terraform/terraform.yaml
Owners: @abcxyz/terraform-readability-approvers

chore: add self for terraform readability (#39)
  terraform/terraform.yaml
Owners: @abcxyz/terraform-readability-approvers

chore: removing readability members no longer in org
  terraform/go.yaml
  terraform/python.yaml
  terraform/typescript.yaml
Owners: @abcxyz/go-readability-approvers, @abcxyz/python-readability-approvers, @abcxyz/typescript-readability-approvers
